/**
* Menu using a simple list because ngMaterial tabs don't work well with router
*/
#menu ul {
	list-style: none;
	padding: 0;
}

#menu ul li {
	float: left;
}

#menu a {
	padding-left: 1em;
	text-decoration: none;
	color: #fff;
}

#menu a:hover {
	text-decoration: underline;
}

/**
* For selected options
*/
#book ul {
	list-style: none;
	padding: 0;
}

#book ul li {
	float: left;
}

#book a {
	cursor: pointer;
	padding: 1em;
	border: 1px solid transparent;
}

#book .or {
	padding: 0 1em;
}

#book a.selected {
	border: 1px solid blue;
}

h3 {
	text-transform: uppercase;
	text-align: center;
}