<div id="book">
	<div layout="column">
		<h1>Book a Consultation</h1>
	</div>

	<div layout="column" layout-align="center center">

		<md-card class="md-padding">

			<h3>Book this consultation for</h3>

			<ul>
				<li ng-repeat="member in members">
					<a ng-class="{selected: member.id==selectedMember.id}" ng-click="SelectMember(member.id)">{{member.currentUser ? 'Yourself' : member.name}}</a>
					<span class="or">or</span>
				</li>
				<li>
					<a ng-class="{selected: selectedMember==null}" ng-click="SelectMember()">Someone Else</a>
				</li>
			</ul>

			<h3>Select a healthcare professional</h3>
			<ul>
				<li ng-repeat="type in types">
					<a ng-class="{selected: type.id==selectedType.id}" ng-click="SelectType(type.id)">{{type.type}}</a>
					<span class="or" ng-if="$last == false">or</span>
				</li>
			</ul>

			<h3>Select the doctor</h3>
			<div layout="row" layout-align="center center">
				<md-button class="md-raised md-primary" ng-click="SelectDoctor($event)">
					<span>{{doctor.name}}</span>
					<br>
					<span>{{doctor.type}}</span>
				</md-button>
			</div>

			<h3>Next available appointment</h3>
			<div layout="row" layout-align="center center">
				<md-button class="md-raised md-primary" ng-click="SelectTime($event)">
					<span>{{selectedTime | date : 'MMMM, d hh:mm'}}</span>
					<br>
					<span>Click to select a different time</span>
				</md-button>
			</div>

			<p>Get the best from your consultation by uploading a photo or a note.</p>
			<ul layout="row" layout-align="space-between">
				<li>
					<a href="#">Attach a Photo</a>
				</li>
				<li>
					<a href="#">Add a Note</a>
				</li>
			</ul>

			<div layout="row" layout-align="center center">
				<md-button class="md-raised md-primary" ng-click="Book()">Book Consultation</md-button>
			</div>
		</md-card>
	</div>
</div>