<md-dialog ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Select a Different Doctor</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <ul>
			<li ng-repeat="doctor in doctors">
				<a ng-click="SelectDoctor(doctor)">{{doctor.name}}</a>
			</li>
		</ul>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="Cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>