<div layout="column">
	<h1 flex>Welcome How Can We Help You?</h1>
	<h2 flex>Book a Consultation</h2>
	<p flex>Seeing a doctor is easy. You can book a  consultation in seconds and speak to a leading GP in minutes. Most of the time patients' problems are resolved there and then, with prescriptions arranged where necessary.</p>
	<p flex>Our UK and Ireland based GPs are available wherever you are, at a time that suits you.</p>
	<p flex><b>Unlimited consultations for just &pound;4.99 or &euro;7.99 per month.</b></p>
</div>
<div layout="row">
	<img src="img/home.jpg"></img>
</div>
<div layout="row">
	<md-button class="md-raised md-primary" href="#/book">See a Doctor Now</md-button>
</div>