<md-dialog ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Select a Different Time</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <ul>
			<li ng-repeat="appointment in appointments">
				<a ng-click="SelectTime(appointment)">{{appointment | date : 'MMMM, d hh:mm'}}</a>
			</li>
		</ul>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="Cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>